/* 


CSS Document


*/

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    }
.section h1 {
	text-align: center;
    font-size: 6rem;
    font-family: munro;
    background: #fff;
    padding: 20px;
    margin: 15px;
    z-index: 1;
	opacity: 0.8;
}
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.section img {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	overflow: hidden; 
	z-index: 2;
}
.section a {
	color: inherit;
	text-decoration: none
}
.section a:hover {
	color: gray
}
.section a:active {
	Color: #D3D3D3
}




